body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
    margin: 0;
}

header, footer {
    background: #4f46e5;
    color: white;
    padding: 15px;
}

.content {
    margin: 40px auto;
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
